html {
    font-size: 62.5%;
}

body {
    background: #FFF4EC;
    padding: 50px 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: #3B2921;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.4rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.begin-quiz-container {
    margin-top: 20px;
}

#begin-quiz {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 4rem;
    background-color: #FFD989;
    color: #3B2921;
    border: none;
    border-radius: 37px;
    cursor: pointer;
}

#begin-quiz:hover {
    background-color: #FFCD64;
    color: #FFF;
}

.choices button {
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    padding: 1rem;
    background-color: #FFD989;
    color: #3B2921;
    border: none;
    border-radius: 37px;
    margin-bottom: 20px;
    cursor: pointer;
}

.choices button:hover {
    background-color: #FFCD64;
    color: #FFF;
}

.button-container button {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    background-color: #FFD989;
    color: #3B2921;
    border: none;
    border-radius: 37px;
    cursor: pointer;
    margin: 10px;
}

.button-container button:hover {
    background-color: #FFCD64;
    color: #FFF;
}

footer {
    font-size: 1.2rem;
    color: #3B2921;
    margin-top: 30px;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    #begin-quiz {
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }

    .choices button {
        font-size: 1.4rem;
        padding: 1rem;
    }

    .button-container button {
        font-size: 1.4rem;
        padding: 1rem;
    }
}
